html, body, .container {
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: xx-large;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.copy {
    width: 16px;
    display: inline-flex;
    height: 16px;
    margin-left: 0.2rem;
}

.copy:hover {
    cursor: pointer;
}
