root = true

[*]
indent_style = space
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[{Makefile,*.go,go.mod,go.sum}]
indent_style = tab
indent_size = tab
max_line_length = 160

[*_test.go]
max_line_length = off

[*.{yml,yaml}]
indent_size = 2

[*.sh]
indent_size = 2

[{*.md,*.css}]
indent_size = 2

[.run/*.xml]
insert_final_newline = false
