[Unit]
Description=OpenVPN authenticator
Documentation=https://github.com/jkroepke/openvpn-auth-oauth2
Wants=network-online.target openvpn.service
After=network-online.target openvpn.service openvpn@.service openvpn-server@.service
PartOf=openvpn.service openvpn@.service openvpn-server@.service

[Service]
# Run as an unprivileged user with random user id.
DynamicUser=true
User=openvpn-auth-oauth2-dynamic
Group=openvpn-auth-oauth2-dynamic
SupplementaryGroups=openvpn-auth-oauth2

ExecStart=/usr/bin/openvpn-auth-oauth2 --config ${CONFIG_FILE}
NoExecPaths=/
ExecPaths=/usr/bin/openvpn-auth-oauth2

Environment=CONFIG_FILE=/etc/openvpn-auth-oauth2/config.yaml
EnvironmentFile=-/etc/sysconfig/openvpn-auth-oauth2
#LoadCredential=openvpn-auth-oauth2:/etc/openvpn-auth-oauth2/
#ConfigurationDirectory=openvpn-auth-oauth2
#ConfigurationDirectoryMode=0750
ReadWritePaths=-/run/openvpn -/run/openvpn-server

RestartSec=5s
Restart=on-failure

# We don't need write access anywhere.
AmbientCapabilities=
CapabilityBoundingSet=
MemoryDenyWriteExecute=true
NoNewPrivileges=true
LockPersonality=true
PrivateDevices=true
PrivateTmp=true
PrivateUsers=true
ProcSubset=pid
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=noaccess
ProtectSystem=strict
RemoveIPC=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
#TODO:We currently not now what system calls we need, so we allow all.
#SystemCallArchitectures=native
#SystemCallFilter=@system-service
#SystemCallFilter=~@privileged @resources
UMask=0027

[Install]
WantedBy=multi-user.target
