[Unit]
Description=OpenVPN authenticator
Documentation=https://github.com/jkroepke/openvpn-auth-oauth2
Wants=network-online.target openvpn.service
After=network-online.target openvpn.service openvpn@.service openvpn-server@.service
PartOf=openvpn.service openvpn@.service openvpn-server@.service

[Service]
# Run as an unprivileged user with random user id.
DynamicUser=true
Group=openvpn-auth-oauth2

# We don't need write access anywhere.
ProtectSystem=strict

# We don't need /home at all, make it inaccessible.
ProtectHome=true
PrivateDevices=true
PrivateTmp=true
ProtectClock=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
ProtectProc=noaccess
RestrictNamespaces=true
RestrictRealtime=true
LockPersonality=true
MemoryDenyWriteExecute=true

ExecStart=/usr/bin/openvpn-auth-oauth2
NoExecPaths=/
ExecPaths=/usr/bin/openvpn-auth-oauth2

EnvironmentFile=/etc/sysconfig/openvpn-auth-oauth2

ConfigurationDirectory=openvpn-auth-oauth2
ConfigurationDirectoryMode=0750

LoadCredential=/etc/openvpn-auth-oauth2/

ReadWritePaths=-/run/openvpn -/run/openvpn-server

# CapabilityBoundingSet=CAP_NET_BIND_SERVICE

RestartSec=5s
Restart=on-failure

[Install]
WantedBy=multi-user.target
