<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="Content-Security-Policy"
        content="default-src 'none'; style-src 'self'; img-src 'self'; connect-src 'self'; script-src 'self' 'sha256-7SYgPploBR3v25GCGZqhzo+r1EWDQ6bvZ+mn7tzpxOw='">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>OpenVPN SSO Login</title>
  <link rel="stylesheet" href="../assets/style.css">
  <link rel="icon" href="../assets/favicon.svg" sizes="192x192"/>
</head>
<body>
<main>
  <h1 id="title" data-i18n>{{ .title }}</h1>
  <section>
    <h2 id="message" data-i18n>{{ .message }}</h2>
    {{- if .clientConfigProfiles }}
      <div class="profile-buttons">
        <form method="POST" action="./profile-submit" class="profile-form">
          <input type="hidden" name="token" value="{{ .token }}">
        {{- range .clientConfigProfiles }}
          <input class="profile-button" type="submit" name="profile" value="{{ . }}">
        {{- end }}
        </form>
    </div>
    {{- end }}
  </section>
</main>
{{- if .errorID }}
<div id="errorID"><span data-i18n>Error ID</span>: {{ .errorID }}</div>
{{- end }}
<script src="../assets/i18n.js"></script>
{{- if not .errorID }}<script>setTimeout(window.close,10000)</script>{{ end }}
</body>
</html>
